<h1>Hello {{ user.username }}!</h1>

<p>
    You ask for reset your password on SnowTricks.<br/>
    To change it, click on the following link : <br/><br/>
    <a href="{{ url('reset_password', {username : user.username, token : user.token}) }}">Reset my password</a>
    <br/>
    Thanks
</p>