{% extends 'base.html.twig' %}
{% block title %}Forgot Password{% endblock %}
{% block body %}
    {{ parent() }}
    <h1>Forgot Password</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-lg btn-primary" type="submit">Ask for reset password</button>
    {{ form_end(form) }}
{% endblock %}
